<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>


        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable second-level Cache -->
        <property name="cache.provide_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">60</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.c3p0.idle_test_period">180</property>

        <!-- Names the annotated entity class -->
        <!-- FIXME: add annotated entity classes -->
        <!-- <mapping class="myclass"/> -->
    </session-factory>

</hibernate-configuration>