log4j.rootCategory= INFO, file

log4j.appender.console = org.apache.log4j.ConsoleAppender
log4j.appender.console.layout = org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern = %d [%t] %p %X{correlationid} - %m%n

log4j.appender.file = org.apache.log4j.RollingFileAppender
log4j.appender.file.File = /var/log/ttms.log
log4j.appender.file.MaxFileSize=300MB
log4j.appender.file.MaxBackupIndex=1
log4j.appender.file.Encoding = UTF-8
log4j.appender.file.DatePattern = '.'yyyy-MM-dd
log4j.appender.file.layout = org.apache.log4j.EnhancedPatternLayout
log4j.appender.file.layout.ConversionPattern = SERVICE %d{ISO8601}{GMT} [%t] %p %X{correlationid} - %m%n
